# ThingsBoard Configuration
THINGSBOARD_BASE_URL=https://schnelliot.in
THINGSBOARD_USERNAME=your_username@domain.com
THINGSBOARD_PASSWORD=your_password

# Google Chat Incoming Webhook URL (For Central Zone or default space)
GOOGLE_CHAT_WEBHOOK_URL=https://chat.googleapis.com/v1/spaces/XXXXXX/messages?key=YYYYYY&token=ZZZZZZ
